body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

header {
    background-color: #b0c156;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #435d0b;
    overflow: hidden;
}

nav a {
    color: #f2f2f2;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    float: left;
}

nav a:hover{
    background-color: #ddd;
    color: black;
}

main {
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #b0c156;
}

footer {
    background-color: #658a23;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

.submit {
    width: 400px;
    padding: 25px;
    margin: auto;
    border-radius: 10%;
    border: 4px solid #028a0f;
}
.submit h3 {
    text-align: center;
}